registry=https://registry.npmjs.org/
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
strict-peer-dependencies=false
auto-install-peers=true
shamefully-hoist=true
prefer-ipv4=true

